
@charset "utf-8";
h1,h2,h3,h4,h5,h6,p,body,textarea,input,ul,ol,li,dd,dt,dl{
	margin:0;
	padding:0;
}
ol,ul{
	list-style:none;
}
img,input{
	border:none;
}
a{
	text-decoration:none;color:inherit;
}
i{
	font-style:normal;
}
body{
	font-family:arial "微软雅黑" "宋体";
}
.clearFix:after{
	content: "200B";
	display:block;
	height:0;
	font-size:0;
	clear:both;
	
}
.clearFix{
	*zoom:1;
}


/*-------以下为头部---------------------------------*/
header{
	position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.header{
	position:relative;
	height:99px;
	background:#3baeda;
	text-align:center;
	font-size:43px;
	color:#fff;
	line-height:99px;
	font-family:"微软雅黑";
	letter-spacing:5px;
}
.header span{
	height:77px;
	line-height:77px;

}





/*-------以下为底部---------------------------------*/
footer{
    font-size:37px;
    z-index: 1;
    height: 210px;
    background: rgba(255,255,255,0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
	padding:4px 0;
}
footer span{
	font-size:33px;
	color:#000;
	height:58px;
}
.tabar_choose{
	color:#f9471d;
}
.tabar_left,.tabar_right{
	width:149px;
	height:206px;
}
.tabar_left{
	float:left;
	margin-left:77px;
	
}

.tabar_right{
	float:right;
	margin-right:77px;
}

.tabar_center{
	position:absolute;
	top:50%;
	left:50%;
	width:149px;
	height:206px;
	margin-left:-74.5px;
    margin-top: -104px;
}